# Configuracion de hardware

[oled]
driver = SSD1306
interface = I2C
address = 0x3C

[audio]
driver = MAX98357A
interface = ALSA
device = default

[magnetometer]
driver = HMC5883L
interface = I2C
address = 0x1E
